[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.*"
python-dotenv = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"
django-cors-headers = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pyyaml = "*"
uritemplate = "*"
django-environ = "*"
django-ses = "*"
djangorestframework-camel-case = "*"
django-fsm = "*"
pydantic = "*"
django-service-objects = "*"
pandas = "==1.5.3"
openpyxl = "*"
django-storages = "*"
drf-nested-routers = "*"
django-iam-dbauth = "*"
boto3 = "*"
biopython = "*"
gunicorn = "*"
gevent = "*"
psycogreen = "*"
faker = "*"
drf-extra-fields = "*"
django-fsm-admin2 = "*"
django-cleanup = "*"
drf-standardized-errors = "*"
sentry-sdk = "*"
pycountry = "*"
django-pgviews-redux = "*"
django-import-export = "*"
cffi = "*"
django-auth-adfs = "*"
pillow = "*"
watchtower = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"
pytest-django = "*"
pytest = "*"
pytest-datadir = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-race = "*"

[requires]
python_version = "3.10"
